* {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
header img {
  margin-left: 10px;
  height: 50px;
}
header {
  height: 69px;
  border-bottom: 1px solid seashell;
  position: fixed;
  z-index: 100;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav ul {
  display: flex;
  justify-content: space-around;
  text-decoration: underline;
  width: 400px;
}
